/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: "Work Sans";
	font-size: 14px;
	background-color: rgb(247, 247, 232);
	box-sizing: border-box;
	width: 100vw;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin: 50px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: "Syne";
	font-size: 22px;
	font-weight: 800;
	color: #b1663c;
}

h1 > span {
	font-family: "Work Sans";
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: "Syne";
	font-weight: 700;
	font-size: 30px;
	color: #1d6154;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav ul a {
	text-decoration: none;
	color: inherit;
	font-size: 1.2em;
}
nav li {
	padding: 0 10px;
}
.active {
	font-weight: bold;
}

li:hover {
	color: #b1663c;
}
#introduction {
	display: flex;
	align-items: center;
	flex-direction: row;
}
#introduction figure {
	flex: 1;
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	display: flex;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;
}
#contact h2 {
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: "Syne";
	font-weight: 700;
	color: white;
	background-color: #1d6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

.categories {
	display: flex;
	justify-content: center;
	column-gap: 0.5rem;
	margin-bottom: 2.5rem;
}

.categories li {
	color: #1d6154;
	border: 1px solid #1d6154;
	border-radius: 1rem;
	padding: 0.5rem 1.2rem;
	cursor: pointer;
	transition: 0.3s;
}

.categories li:hover {
	color: #ffffff;
	border: 1px solid #4db4a1;
	background-color: #4db4a1;
}

.categories .active {
	background-color: #1d6154;
	color: #ffffff;
}

/* ****************************** EDIT MOD ****************************** */

.edit-banner {
	background-color: black;
	color: #ffffff;
	margin: auto -50%;
	height: 3.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 20px;
}
.edit-banner i {
	color: #ffffff;
}
.fa-pen-to-square {
	font-size: 1rem;
}
.edit-banner button {
	font-family: "Syne";
	font-weight: 700;
	color: #000000;
	background-color: #ffffff;
	border-radius: 1rem;
	padding: 0.5rem 1.2rem;
	cursor: pointer;
	border: 0;
	transition: 0.3s;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
.modal-link {
	font-family: "Syne";
	color: black;
	text-decoration: none;
	font-size: 0.8rem;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	column-gap: 0.8rem;
	width: 20%;
	cursor: pointer;
}
#introduction .modal-link > p {
	margin-bottom: 0;
}
.h2-edit-link {
	display: flex;
	margin-left: 3rem;
}
.article-edit-link {
	display: flex;
	justify-content: start;
	margin-bottom: 1.5rem;
	margin-right: 1rem;
}
.figure-edit-link {
	display: flex;
	justify-content: start;
	margin-left: 10%;
	margin-top: 1rem;
}

/* ****************************** MODAL****************************** */

.modal {
	position: fixed;
	display: grid;
	place-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}
.modal-wrapper {
	position: relative;
	padding: 1rem 0rem 3rem 0rem;
	width: 630px;
	height: 731px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.modal__title {
	color: #000000;
	font-family: "Work Sans";
	font-weight: 400;
	margin: 2.5rem 0;
}
.modal__grid {
	flex: 1;
	display: grid;
	grid-template-columns: repeat(5, 78px);
	grid-template-rows: repeat(3, 120px);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	border-bottom: 1px solid #b3b3b3;
	height: 100%;
}
.modal__grid > figure {
	width: 100%;
	height: 104px;
	position: relative;
}
.modal__grid > figure > img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.modal__grid__figure--edit {
	width: 50%;
}
.modal__grid__figure--edit:hover {
	cursor: pointer;
	width: 50%;
	color: #b1663c;
}
.modal__btn {
	font-family: "Syne";
	font-weight: 700;
	color: #ffffff;
	background-color: #1d6154;
	border-radius: 1rem;
	padding: 0.5rem 1.2rem;
	cursor: pointer;
	border: 0;
	transition: 0.3s;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	width: 35%;
	align-self: center;
}
.modal__delete {
	color: #d65353;
}
.modal__delete:hover {
	cursor: pointer;
	color: #d52828;
	transform: scale(1.1);
}
.fa-xmark {
	position: absolute;
	top: 2rem;
	right: 2rem;
	font-size: 1.3rem;
	transition: all 0.3s ease;
}
.fa-xmark:hover {
	transform: scale(1.2) rotate(360deg);
	cursor: pointer;
}
.fa-trash-can {
	position: absolute;
	top: 0.3rem;
	right: 0.3rem;
	border-radius: 3px;
	font-size: 0.7rem;

	background-color: black;
	color: white;
	padding: 0.15rem 0.2rem;
	transition: all 0.3s ease;
}
.fa-trash-can:hover {
	background-color: #b1663c;
	transform: scale(1.2);
}
.trash--active {
	background-color: darkred;
	transform: scale(1.2);
}

/* ****************************** Login Page ****************************** */

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
section {
	display: flex;
	align-items: center;
	flex-direction: column;
}
section a {
	color: inherit;
}
#login form {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
#login label {
	justify-content: flex-start;
	margin-top: 1.5rem;
}
#login input {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	width: 20rem;
	height: 2rem;
}
#login button {
	font-family: "Syne";
	font-weight: 700;
	color: #ffffff;
	background-color: #1d6154;
	border-radius: 1rem;
	padding: 0.5rem 1.2rem;
	cursor: pointer;
	border: 0;
	transition: 0.3s;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	width: 60%;
	align-self: center;
}
#f-login {
	position: fixed;
	bottom: 0; /* on le colle en bas */
	left: 0;
	width: 100%;
}
